@import 'variables';

#main{
  width: 100%;
  min-height: 110vh;
  display: grid;
  grid-template-rows: 60px 1fr 130px;
  background: $mainBgc;
} 

.button{
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  background-color: $mainColor;
  border-radius: 5px;
  font-weight: 600;
  height: 50%;
  box-sizing: content-box;
  padding: 8px 15px;
  border: none;
  align-self: center;
  justify-self: end;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  &:hover::after{
    transform: translateX(0);
  }
  &::after{
  content: '';
  width: 100%;
  z-index: 0;
  height: 100%;
  position: absolute;
  background: #00000010;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform .2s ease-in-out;
  }
}

@media(max-width: 1300px){
  :root{
    font-size: 9px;
  }
}

@media(max-width: 786px){
  #main{
    width: 100%;
    min-height: 150vh;
    display: grid;
    grid-template-rows: 70px 1fr 60vh;
    background: $mainBgc;
  }
}