.becomeVolunteer{
   width: 90%;
   padding: 5rem 0;
   align-self: center;
   justify-self: center;
   height: auto;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   object-fit: cover;
   &__photo{
      width: 100%;
      top: 0;
      left: 0;
      filter: brightness(0.8);
      object-fit: cover;
   }
   &__title{
      width: auto;
      padding: 2rem 4rem;
      font-size: 2.5rem;
      background-color: #000000cc;
      z-index: 3;
      color: #fff;
      text-align: center;
      margin-bottom: 1rem;
   }
   .button{
      margin-top: 1rem;
      width: 50%;
      height: 4rem;
      font-size: 1.7rem;
   }
}

@media(max-width: 786px){
   .becomeVolunteer{
      width: 100%;
      min-height: 35vh;
      margin: 5rem 0;
      &__photo{
         min-height: 35vh;
      }
      &__title{
         width: auto;
         padding: 1rem 3rem;
         font-size: 3rem;
         background-color: #000000aa;
         z-index: 3;
         color: #fff;
         text-align: center;
         margin-bottom: 1rem;
      }
      .button{
         margin-top: 1rem;
         width: 50%;
         height: 4rem;
         font-size: 2rem;
      }
   }
}