@import 'variables';

.become{
   &__title{
      width: 100%;
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 3rem;
      font-size: 3rem;
      font-weight: 600;
   }
   &__wrapper{
      display: grid;
      grid-template-columns: 6fr 4fr;
      width: 100%;
      &__leftBar{
         @include flexCenter(column);
         justify-content: flex-start;
         padding: 10rem 10%;
         &__titleA{
            font-size: 4rem;
            padding-bottom: 3rem;
            text-align: center;
         }
         &__text{
            padding: 2rem 0;
            font-size: 2.3rem;
            text-indent: 2rem;
         }
      }
      &__rightBar{
         @include flexCenter(column);
         margin-top: 10rem;
         padding-bottom: 10rem;
         justify-content: flex-start;
         background-color: $headerBgc;
         &__title{
            width: 100%;
            background-color: $mainColor;
            padding: 3rem;
            text-align: center;
         }
         &__data{
            height: 100%;
            @include flexCenter(column);
            .data__text{
               padding: 5rem 0 0 0;
               font-style: 2.5rem;
            }
            .data__accontNumber{
               font-size: 3rem;
               font-weight: 600;
               padding-top: 5rem;
            }
            .data__info{
               padding: 3rem 15%;
               text-align: center;
            }
         }
      }
   }
}

@media(max-width: 786px){
   .become{
      &__title{
         padding: 3rem 1rem;
         font-size: 2.8rem;
      }
      &__wrapper{
         grid-template-columns: 100%;
         grid-template-rows: auto auto;
         &__leftBar{
            padding: 5rem 1rem 1rem 1rem;
            &__titleA{
               text-align: center;
            }
            &__text{
               padding: 3rem 2%;
               text-align: justify;
               line-height: 3rem;
            }
         }
         &__rightBar{
            margin: 0;
            &__title{
               padding: 3rem 0;
               font-size: 3.5rem;
            }
            .data__accontNumber{
               font-size: 2.5rem;
               letter-spacing: -0.5px;
            }
            .data__info{
               padding: 3rem 1rem;
            }
         }
      }
   }
}