@import 'variables';

.contactForm{
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   &__input{
      padding: 1.2rem 1rem;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      width: 100%;
   }
   &__text{
      height: 20rem;
      padding: 1.2rem 1rem;
      width: 100%;
      resize: none;
      font-size: 1.6rem;
      margin-bottom: 2rem;
   }
   &__label{
      position: relative;
      width: 100%;
   }
   &__inputName{
      position: absolute;
      top: -0.8rem;
      left: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: $sideColor;
      background: linear-gradient(to bottom, #f5f5f5, #fff)
   }
   &__message{
      width: 100%;
      height: 120px;
      padding: 13px 0;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      font-size: 2.4rem;
      color: rgb(0, 0, 0);
      background-color: rgba(144, 238, 144, 0.850);
      @include flexCenter(row);
      align-items: flex-end;
      transition: opacity .5s;
      opacity: 1;
   }
   .sentMess{
      opacity: 0;

   }
   .errorSpan{
      width: 100%;
      font-size: 1.8rem;
      color: rgb(0, 0, 0);
      background-color: rgba(255, 145, 145, 0.575);
      @include flexCenter(row);
      padding: 0.5rem 1rem;
      margin: 0 auto 1rem auto;
   }
}
@media(max-width: 1550px){
   .contactForm{
      width: 100%;
   }
}