@import 'variables';

.footer{
   padding: 10px 3%;
   width: 100%;
   min-height: 120px;
   color: rgb(156, 156, 156);
   background: #000000;
   font-size: 1.7rem;
   grid-row: 3;
   display: grid;
   grid-template-columns: 1fr 20% 1fr;
   &__socialmedia{
      grid-column: 1;
      grid-row: 1;
      justify-self: start;
      align-self: center;
   }
   &__socialElement{
      display: flex;
      width: 100%;
      padding: 0.5rem 0;
      align-items: center;
      justify-content: flex-start;
      svg{
         width: 40px;
         height: 40px;
         margin-right: 1rem;
      }
   }
   &__copyright{
      grid-column: 2;
      grid-row: 1;
      width: 100%;
      text-align: center;
      align-self: center;
   }
   &__addres{
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      span{
         padding: 0.5rem 0;
      }
   }
}

@media(max-width: 786px){
   .footer{
      padding: 0 0 5rem 0;
      font-size: 2.5rem;
      display: grid;
      min-height: 80vh;
      grid-template-columns: 100%;
      &__socialmedia{
         width: 100%;
      }
      &__socialElement{
         display: flex;
         width: 100%;
         padding: 1rem 15%;
         align-items: center;
         justify-content: center;
         grid-column: auto;
         grid-row: auto;
         svg{
            width: 50px;
         }
      }
      &__addres{
         width: 100%;
         padding: 0 5%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         &__email{
            font-size: 3rem;
            letter-spacing: -0.5px;
         }
         span{
            padding: 0.8rem 0;
         }
      }
      &__copyright{
         width: 100%;
         text-align: center;
         font-size: 1.8rem;
         color: rgb(156, 156, 156);
         grid-column: 1;
         grid-row: 3;
      }
   }
}