@import 'variables';

.galleryBox{
   width: 100%;
}
.FoldersBox{
   width: 100%;
   padding: 5vh 7%;
   display: grid;
   column-gap: 4%;
   row-gap: 10vh;
   grid-template-columns: repeat(4, 22%); 
}

.galleryHeader{
   width: 100%;
   padding: 3rem 0;
   margin: 2rem 0;
   background-color: $mainColor;
   @include flexCenter(column);
   position: relative;
   &__date{
      font-size: 1.8rem;
      font-weight: 400;
   }
   &__title{
      font-size: 3rem;
      font-weight: 700;
   }
   .backArrow{
      position: absolute;
      left: 3rem;
      width: 2.5rem;
      color: #000;
      transition: color 0.1s, transform .1s;
      cursor: pointer;
      &:hover{
         transform: scale(1.15);
      }
   }
}
@media(max-width: 1550px){
   .FoldersBox{
      grid-template-columns: repeat(3, 30%);
      column-gap: 5%;
   }
}

@media(max-width: 786px){
   .FoldersBox{
      grid-template-columns: 100%;
   }
   .backArrow{
      display: none;
   }
}