@import 'variables';

.header{
   position: fixed;
   width: 100%;
   padding: 0 5%;
   height: 60px;
   display: grid;
   grid-template-columns: 15% 1fr 15%;
   background-color: $headerBgc;
   z-index: 100;
   &__logo{
      align-self: center;
      justify-self: start;
      width: auto;
      height: 50px;
   }
   &__menuBtn{
      display: none;
   }
   &__button{
      font-size: 1.7rem;
      letter-spacing: -0.5px;
      background-color: $mainColor;
      border-radius: 5px;
      font-weight: 600;
      height: 50%;
      box-sizing: content-box;
      padding: 8px 15px;
      border: none;
      align-self: center;
      justify-self: end;
      cursor: pointer;
      outline: none;
      position: relative;
      overflow: hidden;
      &:hover::after{
         transform: translateX(0);
      }
      &::after{
         content: '';
         width: 100%;
         z-index: 0;
         height: 100%;
         position: absolute;
         background: #00000010;
         left: 0;
         top: 0;
         transform: translateX(-100%);
         transition: transform .2s ease-in-out;
      }
   }
   &__menu{
      @include flexCenter(row);
      align-self: center;
      justify-self: center;
      height: 100%;
      &__list{
         display: flex;
         list-style: none;
         height: 100%;
         &__option{
            height: 100%;
            a{
               @include flexCenter(row);
               cursor: pointer;
               text-decoration: none;
               color: $mainFontColor;
               font-size: 1.8rem;
               font-weight: 600;
               padding: 0 18px;
               height: 100%;
               border-bottom: 5px solid transparent;
            }
            a.option--active{
               border-bottom: 4px solid $mainColor;
            }
         }

      }
   }
      
}

@media(max-width: 1550px){
   :root{
      font-size: 10px;
   }
   .header__button{
      font-size: 1.5rem;
   }
}

@media(max-width: 768px){
   .header{
      padding: 0 5%;
      width: 100%;
      display: flex;
      height: 70px;
      justify-content: space-between;
      align-items: center;
      &__button{
         position: fixed;
         top: 80vh;
         left: 50%;
         transform: translateX(100%);
         height: 70px;
         padding: 0 30px;
         font-size: 2.5rem;
         letter-spacing: -1px;
         outline: none;
      }
      &__menu{
         position: fixed;
         width: 100%;
         height: 100vh;
         top: 0;
         left: 0;
         transform: translateX(100%);
         background-color: $mainBgc;
         transition: transform .3s ease-in-out;
         &__list{
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            padding: 12vh 0 25vh 0;
            width: 80%;
            &__option{
               height: 70px;
               width: auto;
               a{
                  height: 55px;
                  font-size: 3rem;
                  font-weight: 500;
                  padding: 0;
                  width: auto;
               }
            }
         }
      }
      &__menuBtn{
         z-index: 100;
         @include flexCenter(column);
         height: 40px;
         width: 40px;
         cursor: pointer;
         &__btn{
            width: 100%;
            transition: background-color .2s;
            height: 5px;
            background: $sideColor;
            border: none;
            position: relative;
            border-radius: 2px;
            outline: none;
            pointer-events: none;
            &::before,
            &::after{
               transition: transform .2s ease-in-out;
               content: '';
               width: 100%;
               height: 5px;
               background: $sideColor;
               position: absolute;
               left: 0;
               top: 0;
               border-radius: 2px;
               pointer-events: none;
            }  
            &::before{
               transform: translateY(-12px);
            }
            &::after{
               transform: translateY(12px);
            }
            }
         
      }
   }

   .header__menuBtn{
      &__btn.btn--active{
         background-color: transparent;
         &::before{
            transform: rotate(45deg) translateY(0px) ;
         }
         &::after{
            transform:  rotate(-45deg) translateY(0px);
         }
      }

   }
   .header__menu.menu--active{
      transform: translateX(0);
   }
   .header__button.button--active{
      transform: translateX(-50%);
   }


}

