@import 'variables';

// scss style of carousel
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

:root{
  font-size: 10px;
}

