@import 'variables';

.loading{
   @include flexCenter(row);
   width: 30%;
   margin: 0 auto;
   &__text{
      display: block;
      padding-right: 1.5rem;
   }
   &__icon{
      width: 3rem;
      height: 3rem;
      animation: rotate 3.5s infinite;
      path{
         fill: $mainColor;
      }
   }
}

@keyframes rotate {
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(720deg);
   }
}

@media(max-width: 786px){
   .loading{
      width: 100%;
   }
}

@media(max-width: 1550px){
   .loading{
      width: 50%;
   }
}