
.monthSection{
   width: 70%;
   padding-top: 60px;
   margin-top: 2rem;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   position: relative;
   flex-wrap: wrap;
   &__header{
      width: 100%;
      text-align: left;
      border-bottom: 2px #000 solid;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      font-size: 3rem;
      font-weight: 600;
   }
}

@media(max-width: 786px){
   .monthSection{
      width: 100%;
      flex-direction: column;
      align-items: center;
      &__header{
         width: 90%;
         font-size: 2.5rem;
         margin-bottom: 3rem;
      }
   }
}