@import 'variables';

.galleryWrapper{
   width: 100%;
   padding-bottom: 5vh;
   display: -webkit-box; /* Not needed if autoprefixing */
   display: -ms-flexbox; /* Not needed if autoprefixing */
   display: flex;
   margin-left: -30px; /* gutter size offset */
   width: auto;
   &__column{
      padding-left: 5px; /* gutter size */
      background-clip: padding-box;
      &__photo{
         padding: 0;
         width: 100%;
      }
   }
}