@import 'variables';

.photoSlider{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   min-height: 500px;
   overflow: hidden;
   &__item{
      min-height: 500px;
   }
   .alice-carousel{
      margin: 0;
      min-height: 500px;
   }
   &__content{
      position: absolute;
      width: 750px;
      height: 250px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #000000aa;
      color: #ffffff;
      @include flexCenter(column);
      &__discription{
         font-size: 2.5rem;
         font-weight: 400;
         letter-spacing: -1px;
      }
      &__title{
         font-size: 3.5rem;
         letter-spacing: 1px;
      }
   }
}

.alice-carousel{
   z-index: 0;
   position: relative;
   &__prev-btn,
   &__next-btn{
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      transform: translateY(-50%);
   }
   &__prev-btn{
      left: 5%;
   }
   &__next-btn{
      right: 5%;
   }
   &__next-btn-wrapper,
   &__prev-btn-wrapper{
      background-color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
   }
   &__next-btn-item,
   &__prev-btn-item{
      width: 40px;
      height: 40px;
      @include flexCenter(row);
      position: relative;
      span{
         display: none;
      }
      &::after,
      &::before{
         content: '';
         position: absolute;
         width: 15px;
         height: 3px;
         border-radius: 1.5px;
         background-color: #ffffff;
      }
      &:hover::before,
      &:hover::after{
         background: $mainColor;
      }
      
   }
   &__next-btn-item{
      &::after{
         right: 40%;
         transform: rotate(45deg) translateY(-6px);
      }
      &::before{
         right: 40%;
         transform: rotate(-45deg) translateY(6px);
      }
   }
   &__prev-btn-item{
      &::after{
         left: 40%;
         transform: rotate(-45deg) translateY(-6px);
      }
      &::before{
         left: 40%;
         transform: rotate(45deg) translateY(6px);
      }
   }
}

@media(max-width: 1550px){
   .photoSlider{
      max-height: 400px;
      &__item{
         min-height: 400px;
      }
      .alice-carousel{
         margin: 0;
         min-height: 400px;
      }
   }
}

@media(max-width: 786px){
   .photoSlider{
      height: 65vh;
      &__img{
         height: 65vh;
         width: 100%;
         object-fit: cover;
      }
      .alice-carousel{
         margin: 0;
         min-height: 65vh;
         &__prev-btn{
            left: 5px;
         }
         &__next-btn{
            right: 5px;
         }
      }
   }
   .photoSlider__content{
      position: absolute;
      width: 70%;
      height: 300px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #000000aa;
      color: #ffffff;
      @include flexCenter(column);
      &__discription{
         font-size: 2rem;
         font-weight: 400;
         letter-spacing: -1px;
         text-align: center;
         margin-bottom: 0.8rem;
      }
      &__title{
         font-size: 2.5rem;
         text-align: center;
         letter-spacing: 1px;
         margin-top: 0.8rem;
      }
   }
}